<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} %blue([%t]) %highlight(%-5level) %cyan(%logger{36} - %msg%n)
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Храним файлы логов 10 дней -->
            <maxHistory>10</maxHistory>
            <!-- Максимальный размер файлов лога 30 гигабайт -->
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <file>backlog.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="by.teachmeskills.sneakersshopwebserviceexam" level="info" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>